.header {
  text-align: center;
}

.header img {
  float: left;
}

.home-title {
  font-size: 80px;
  border-top: 80px;
  border-bottom: 80px;
}

.card {
  max-width: 300px;
  height: auto;
  padding: 20px;
  font-size: 30px;
  border: 30px;
  grid-gap: 100px;
  margin: 15px;
}
