<section>
  <mat-grid-list cols="2" rowHeight="700px">
    <mat-grid-tile colspan="2">
      <div class="header">
        <h1 class="home-title">The Pavlov</h1>
        <h1 class="home-title">Project</h1>
        <h2>Thake the bot experience to the next level</h2>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="card">
        <mat-card-header rowspan="1">
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title class="card-title">Pavlov-Bot</mat-card-title>
        </mat-card-header>
        <img
          mat-card-image
          src="assets/img/the-pavlov-project-logo.png"
          alt="Photo of a Shiba Inu"
        />
        <mat-card-content>
          <p>
            The bot is multiplatform and work simultanely on Telegram and
            Discord with a shared profile.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary">ADD</button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title class="card-title">Pvlv</mat-card-title>
        </mat-card-header>
        <img
          mat-card-image
          src="assets/img/the-pavlov-project-logo.png"
          alt="Photo of a Shiba Inu"
        />
        <mat-card-content>
          <p>
            A full hackarable framework, to build multiplatform bots writeing
            the code only once.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary">CONTIBUTE</button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</section>
