<div class="main-div">
    <mat-card>
        <mat-tab-group>

            <mat-tab label="Login">
                <mat-card-content >

                    <form [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm.value)">
                        <div class="center-align">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Enter your email</mat-label>
                                <input matInput id="email" placeholder="pavlov@mail.com" formControlName="email" required>
                            </mat-form-field>
                        </div>
                
                        <div class="center-align">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Enter your password</mat-label>
                                <input matInput id="password" [type]="pswdHide1 ? 'password' : 'text'" placeholder="NotPaswd1234" formControlName="password">
                                <button mat-icon-button matSuffix (click)="pswdHide1 = !pswdHide1" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="pswdHide1">
                                <mat-icon>{{pswdHide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>
                            </mat-form-field>
                        </div>

                        <div class="center-align">
                            <button mat-raised-button type="submit" color="primary">Login</button>
                        </div>

                        <div *ngIf="showLoginErrorMessage" class="error-center-align">
                            <mat-chip-list>
                                <mat-chip color="accent" selected>Invalid username or password</mat-chip>
                            </mat-chip-list>
                        </div>
                    </form>

                </mat-card-content>
            </mat-tab>

            <mat-tab label="Register">
                <mat-card-content >

                    <form [formGroup]="registerForm" (ngSubmit)="onRegister(registerForm.value)">
                        <div class="center-align">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Enter your email</mat-label>
                                <input matInput id="email" placeholder="pavlov@example.com" formControlName="email" required>
                            </mat-form-field>
                        </div>

                        <div class="center-align">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Enter your Username</mat-label>
                                <input matInput id="username" placeholder="ChickenFrozen69" formControlName="username" required>
                            </mat-form-field>
                        </div>
                
                        <div class="center-align">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Enter your password</mat-label>
                                <input matInput id="password" [type]="pswdHide1 ? 'password' : 'text'" placeholder="NotPaswd1234" formControlName="password">
                                <button mat-icon-button matSuffix (click)="pswdHide1 = !pswdHide1" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="pswdHide1">
                                <mat-icon>{{pswdHide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>
                            </mat-form-field>
                        </div>

                        <div class="center-align">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Confirm your password</mat-label>
                                <input matInput id="passwordConfirmation" [type]="pswdHide2 ? 'password' : 'text'" placeholder="NotPaswd1234" formControlName="passwordConfirmation">
                                <button mat-icon-button matSuffix (click)="pswdHide2 = !pswdHide2" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="pswdHide2">
                                <mat-icon>{{pswdHide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>
                            </mat-form-field>
                        </div>

                        <div class="center-align">
                            <button mat-raised-button type="submit" color="primary">Register</button>
                        </div>

                        <div *ngIf="showRegisterErrorMessage" class="error-center-align">
                            <mat-chip-list>
                                <mat-chip color="accent" selected>Registration fails</mat-chip>
                            </mat-chip-list>
                        </div>

                        <div *ngIf="showRegisterSuccessMessage" class="error-center-align">
                            <mat-chip-list>
                                <mat-chip color="primary" selected>Registration Success</mat-chip>
                            </mat-chip-list>
                        </div>
                    </form>

                </mat-card-content>
            </mat-tab>

        </mat-tab-group>
    </mat-card>
</div>
